@import "tailwindcss";

@custom-variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

:root {
  background: #ffffff;
  color: #09090b;
}

[data-theme="dark"] {
  background: #ffffff;
}

[data-theme="light"] {
  background: #ffffff;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  background: #ffffff;
  color: #09090b;
}
